body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.heading {
    font-family: 'Nerko One', cursive;
    
}

button {
    font-family: 'Nerko One', cursive;
    color: black;
    font-size: 100%;
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
    background-color: rgba(57, 145, 38, 0.505);
}
button:hover {
    opacity: 0.7;
    color: black;
    cursor: pointer;
}

button:after {
    color: black;
}

p {
    font-size: 100%;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    cursor: pointer;
}

.grid img:hover {
    opacity: 0.7;
}

footer {
    background-color: rgba(57, 145, 38, 0.505);
}
