body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.heading {
    font-family: 'Nerko One', cursive;
    
}

button {
    font-family: 'Nerko One', cursive;
    font-size: 100%;
    margin: 10px;
}

p {
    font-size: 75%;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
}